<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Student</title>
</head>
<body>
  <h2>update a new student</h2>
 
 <form action="/updateStudent" method="post">
 
  <label>Enter roll:</label>
  <input type="text" name="roll">
  <br><br>
  <label>Enter name:</label>
  <input type="text" name="name">
  <br><br>
  <label>Enter branch:</label>
  <input type="text" name="branch">
  <br><br>
  <label>Enter YOP:</label>
  <input type="text" name="yop">
  <br><br>
  <label>Enter CGPA:</label>
  <input type="text" name="cgpa">
  <br><br>
  <input type="submit">
 </form>
</body>
</html>